<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mercado liebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"> 
</head>
<body>
    <header >
        <section class="top-header">
                <h1><img src="/images/logo-mercado-liebre.svg" width="200"></h1>
                 <p id="barraBusqueda">
                     <i class="fas fa-search">
                     </i><form action="/login">
                        <input type="text"></form>
                    </p>
                    
                  <br>

                  <p class="manoalineada">Comprá en cuotas y sin tarjeta de crédito<i class="fas fa-hand-holding-usd"></i></p>
        </section>

        <section class="main-header">
            
               <div id="alineado">
                     <p type="none"><a id="titulares"href="">Ofertas</a></p>
                     <p type="none"><a id="titulares"href="">Tiendas oficiales</a></p>
                     <p type="none"><a id="titulares"href="">Vender</a></p>
                     <p type="none"><a id="titulares"href="">Ayuda</a></p>
                </div>
    
                <br>
               <div id="alineado">
                 <div id="alineado2">
                      <p type="none"><a id="titulares1"href="/register">Creá tu cuenta</a></p>
                      <i class="far fa-address-card"></i>
                    </div>
                    <div id="alineado2">
                      <p type="none"><a id="titulares1"href="/login">Ingresá</a></p>
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div id="alineado2">
                      <p type="none"><a id="titulares1"href="">Mis compras</a></p>
                     <i class="fas fa-shopping-basket"></i>
                    </div>
                </div>
        </section>
          
        <div class="burger-menu">
              <i class="fas fa-bars"></i>
        </div>
    
       
    </header>
    
    <main>
        <img src="/images/img-home-banner.jpg" alt="" width= 100%>
         <h2 id="titulares" >Basado en tu última visita</h2>
        <section class="contenedor">
           

            <article class ="separacion">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imágen de la cafetera" height="150px" >
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                    
                     <p id="precio">$6.770</p>
                     <p id="descuento">40% OFF</p>
                     <p id="descripcion">Cafetera Moulinex</p>
            </div>
            </article>

            <article class ="separacion">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imágen de Macbook" width="150px">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                
                <p id="precio">$230.000</p>
                <p id="descuento">20% OFF</p>
                <p id="descripcion">Macbook Pro 2019</p>
            </div>
            </article>

            <article class ="separacion">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imágen de Samsung Galaxy" width="150px">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                  
                  <p id="precio">$70.500</p>
                  <p id="descuento">10% OFF</p>
                  <p id="descripcion">Samsung Galaxy S10</p>
             </div>
            </article>
            
            <article class ="separacion">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imágen de SmartTV" width="150px">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
               
                <p id="precio">$23.200</p>
                <p id="descuento">5% OFF</p>
                <p id="descripcion"> SmartTV Samsung 43"</p>
            </div>
            </article>
            </section>
            <h2 id="titulares" >Sección de Ofertas</h2>
        <section class="contenedor">

            <article class ="separacion">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imágen de la cafetera" width="150px">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                
                <p id="precio">$6.770</p>
                <p id="descuento">40% OFF</p>
                <p id="descripcion">Cafetera Moulinex</p>
            </div>
            </article>

            <article class ="separacion">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imágen de Macbook" width="150px">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                
                <p id="precio">$230.000</p>
                <p id="descuento">20% OFF</p>
                <p id="descripcion">Macbook Pro 2019</p>
            </div>
            </article>

            <article class ="separacion">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imágen de Samsung Galaxy" width="150px">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                
                <p id="precio">$70.500</p>
                <p id="descuento">10% OFF</p>
                <p id="descripcion">Samsung Galaxy S10</p>
            </div>
            </article>
            
            <article class ="separacion">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imágen de SmartTV" width="150px">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                
                <p id="precio">$23.200</p>
                <p id="descuento">5% OFF</p>
                <p id="descripcion">SmartTV Samsung 43"</p>
            </div>
            </article>

        </section>

    </main>

    <footer>
        <div class="container">
        <div class="texto" >
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercadolibre cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡y siempre es seguro!</p>
        </div>
            <br>
         <div class="texto">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercadolibre tenes envíos gratis en miles de productos. Es un beneficio de Mercadopuntos.</p>
         </div>
            <br>
         <div class="texto">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercadolibre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </div>
            <br>
            <h3 class="copyright">Copyright @ 1999 - 2020 Mercadolibre SRL</h3>

    </footer>
    
</body>
</html>