<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"> 
    <title>login</title>
</head>

<body>
    <header>
        <section class="top-header">
                <h1><img src="/images/logo-mercado-liebre.svg" width="180"></h1>
                <p id="barraBusqueda"><i class="fas fa-search"></i>Lugar para poner la barra de búsqueda</p>

                
                <p class="manoalineada">Comprá en cuotas y sin tarjeta de crédito<i class="fas fa-hand-holding-usd"></i></p>
        </section>
    
        <section class="main-header">
            
               <div id="alineado">
                     <p type="none"><a id="titulares"href="">Ofertas</a></p>
                     <p type="none"><a id="titulares"href="">Tiendas oficiales</a></p>
                     <p type="none"><a id="titulares"href="">Vender</a></p>
                     <p type="none"><a id="titulares"href="">Ayuda</a></p>
                </div>
    
    <br>
           
    <div id="alineado">
    <div id="alineado2">
         <p type="none"><a id="titulares1"href="/register" >Creá tu cuenta</a></p>
         <i class="far fa-address-card"></i>
       </div>
       <div id="alineado2">
         <p type="none"><a id="titulares1"href="/login">Ingresá</a></p>
           <i class="fas fa-sign-in-alt"></i>
       </div>
       <div id="alineado2">
         <p type="none"><a id="titulares1"href="">Mis compras</a></p>
        <i class="fas fa-shopping-basket"></i>
       </div>
   </div>
           
        </section>
        
        <div class="burger-menu">
              <i class="fas fa-bars"></i>
        </div>
    
       
    </header>
    <form action="/login" method="POST" class="form">
        <label for="user" id="user">Nombre de Usuario
            <input type="text"required value="error">
            
        </label>
        <label for="password" id ="password">Contraseña
            <input type="password"required>
            </label>
        <button type="submit" name="enviar"><a href="/">enviar </a></button> 
    </form>
    <footer>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercadolibre cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡y siempre es seguro!</p>
        <br>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en Mercadolibre tenes envíos gratis en miles de productos. Es un beneficio de Mercadopuntos.</p>
        <br>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercadolibre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <br>
        <h3 class="copyright">Copyright @ 1999 - 2020 Mercadolibre SRL</h3>

</footer>


</body>
</html>